.EventContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
    gap: 20px;
}

.EventContainer h2 {
    font-size: 22px;
    color: #333;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.eventGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 15px;
}

.modalContent {
    padding: 20px;
}

.cardEvent {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.cardEvent:hover {
    transform: scale(1.02);
}

.image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.info {
    padding: 15px;
}

.cardEvent h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 5px;
}

.cardEvent p {
    font-size: 14px;
    color: #666;
    margin: 3px 0;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
}


.Modal {
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.inputField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}