/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: hidden;
    background-color: #f0f8ff;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.overlay {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding-top: 10%;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.search {
    margin-top: 2rem;
    width: 25rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

/* Pet Gallery */
.petGallery {
    padding: 2rem 1rem;
    text-align: center;
}

.petGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

.petCard {
    text-align: center;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.petImage {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

/* Carousel Section */
.carousel {
    position: relative;
    height: 400px;
    background-size: cover;
    background-position: center;
    color: #333333;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carouselTitle {
    font-size: 2rem;
    font-weight: bold;
    color: #ff6f61;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.categoryCard {
    position: relative;
    text-align: center;
    width: 300px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    gap: 10px;
}

.categoryImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.categoryName {
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0.5rem;
    border-radius: 0 0 8px 8px;
    width: 100%;
    color: #ffffff;
}

/* Event Cards */
.popularSection {
    padding: 2rem 1rem;
    background-color: #ffecb3;
    text-align: center;
}

.eventgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.eventcard {
    background-color: #ffffff;
    border: 2px solid #ffecb3;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    transition: transform 0.2s;
    position: relative;
}

.eventcard:hover {
    transform: translateY(-8px);
}

.eventimage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}