.ShopSection {
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}

.ShopSection h2 {
    margin: 0;
    font-size: 2em;
    padding: 20px 0;
    text-align: center;
    color: #333;
}

/* Filtros */
.filtersContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
    background-color: #f5f5f5;
    border-radius: 8px;
    margin-bottom: 1rem;
    justify-content: center;
}

.dropdown {
    width: 200px;
}

/* Mascotas */
.petcard {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #f6f0ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.petimage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px;
}

.petdetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.petdetails h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.petdetails p {
    margin: 8px 0;
    color: #333;
}

.petbutton {
    margin-left: 16px;
}

/* Paginacion */
.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
}

.pageIndicator {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    .ShopSection {
        width: 100%;
        padding: 16px;
    }
}

@media (max-width: 512px) {
    .ShopSection {
        width: 100%;
        padding: 8px;
    }

    .filtersContainer {
        flex-direction: column;
        align-items: center;
    }

    .dropdown {
        width: 100%;
    }

    .petcard {
        flex-direction: column;
        align-items: flex-start;
    }

    .petimage {
        width: 100%;
        height: auto;
        margin-right: 0;
        margin-bottom: 16px;
    }

    .petdetails h3 {
        font-size: 1.2em;
    }

    .petdetails p {
        font-size: 1em;
    }

    .petbutton {
        align-self: center;
        margin-left: 0;
        margin-top: 16px;
    }
}