.profileContainer {
    display: flex;
    min-height: calc(100vh - 60px);
    background-color: #f9f9f9;
}

.sidebar {
    width: 250px;
    background-color: #f6f0ff;
    padding: 20px;
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.profileContent {
    margin-left: 250px;
    padding: 20px;
    flex-grow: 1;
    padding-top: 60px;
    padding-bottom: 60px;
}

.profileInfo {
    text-align: center;
    margin-bottom: 20px;
}

.profileInfo h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

.nav {
    display: flex;
    flex-direction: column;
}

.nav button {
    background: none;
    border: none;
    padding: 10px 15px;
    text-align: left;
    font-size: 1em;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav button:hover,
.nav button.active {
    color: #FBC02D;
    border-bottom: 2px solid #FBC02D;
}

.settingsContainer {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
}

.formGroup {
    margin-bottom: 15px;
}

.formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.formGroup input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.profileActions {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.error {
    color: red;
    margin-top: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
        top: 0;
        box-shadow: none;
    }

    .profileContent {
        margin-left: 0;
        padding-top: 20px;
    }
}