.dashboardContainer {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: #f4f5f7;
}

.dashboardContainer p {
    color: #555;
    font-size: 0.9rem;
    margin-top: 10px;
}

.mainContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.content {
    padding: 20px;
    flex-grow: 1;
}

.sidebar {
    width: 250px;
    min-height: 100vh;
    background-color: #2c5042;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.logo img {
    width: 100%;
    margin-bottom: 20px;
}

.nav button {
    display: block;
    color: white;
    background: none;
    border: none;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

.nav .active {
    background-color: #1abc9c;
}

.topbar {
    background-color: white;
    padding: 15px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.topbar h2 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.userInfo {
    display: flex;
    align-items: center;
    color: #333;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.SettingsContainer {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.SettingsContainer h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333;
}

.SettingsContainer form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.SettingsContainer label {
    font-weight: bold;
    color: #555;
}

.SettingsContainer input,
.SettingsContainer textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.SettingsContainer button {
    margin-top: 15px;
    background-color: #1abc9c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.SettingsContainer button:hover {
    background-color: #16a085;
}

.SettingsContainer button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}