.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f5fff5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo img {
    height: 50px;
}

.nav {
    display: flex;
    gap: 2rem;
}

/* Menú hamburguesa (oculto por defecto) */
.menuButton {
    display: none;
    background: none;
    border: none;
    color: #333333;
    cursor: pointer;
}

.userSection {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.userDropdown {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.userName {
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

/* Dropdown Menu */
.dropdownMenu {
    position: absolute;
    top: 45px;
    right: 0;
    background: #f5fff5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 0.5rem;
    min-width: 150px;
    display: flex;
    flex-direction: column;
}

.dropdownItem {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: background 0.2s;
    color: #333333;
}

.dropdownItem i {
    font-size: 1rem;
}

.dropdownItem:hover {
    color: #FBC02D;
    border-bottom: 2px solid #FBC02D;
}

.userInfo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #333333;
}

.link {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding-bottom: 4px;
}

.link:hover {
    color: #FBC02D;
    border-bottom: 2px solid #FBC02D;
}

.active {
    color: #FBC02D;
    border-bottom: 2px solid #FBC02D;
}

/* Sidebar para el menú móvil */
.sidebar {
    background-color: #f5fff5;
}

.mobileNav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

@media (max-width: 768px) {

    .nav,
    .actions {
        display: none;
    }

    .menuButton {
        display: block;
    }

    .hideOnSmallScreens {
        display: none;
    }
}