.ShopSection {
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}

.eventcard {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
}

.eventimage {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 16px;
}

.eventdetails {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.eventdetails h3 {
    margin: 0;
    font-size: 1.5em;
}

.eventdetails p {
    margin: 8px 0;
}

.eventbutton {
    margin-left: 16px;
}